@media screen and (max-width: 480px) {
  .footer {
    padding: 35px 0 60px;
  }

  .footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}

.footer {
  padding: 67px 0 60px;
  color: #545454;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}
