.page__content {
  padding: 0 27px;
  background-color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.page__section {
  width: 100%;
  max-width: 882px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.page {
  background-color: #000000;
  color: white;
  font-family: "Inter", arial, sans-serif;
}

@media screen and(max-width: 621px) {
  .page-content {
    padding: 0;
  }
}
