.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  width: 100%;
  margin-bottom: 51px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 373px;
  margin: 0;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  max-width: 373px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 372px);
  align-items: baseline;
  grid-gap: 7px 17px;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border-color: #ffffff;
  background-size: 10px 10px;
  border: 1px solid #fff;
  grid-area: button;
  cursor: pointer;
  transition: 0;
  margin-right: 20px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}


.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  background-size: 22px;
  border-radius: 2px;
  border: 2px solid #fff;
  transition: 0.3s;
  cursor: pointer;
  margin-left: auto;
}
.profile__add-button:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 621px) {
    .profile {
      display: flex;
      flex-direction: column;
      margin-bottom: 36px;
    }

    .profile__avatar {
      margin-bottom: 30px;
      margin-right: 0;
    }

    .profile__title {
      max-width: 222px;
      font-size: 22px;
      line-height: 26px;
    }

    .profile__info {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      max-width: 282px;
      margin-bottom: 36px;
    }

    .profile__edit-button{
      margin:0;
      width: 18px;
      height: 18px;
    }

    .profile__description {
      width: 100%;
      text-align: center;
      font-size: 14px;
      line-height: 17px;
    }

    .profile__add-button {
      margin: 0;
      width: 282px;
      height: 50px;
    }
  }
  